<div class="container-publication" *ngIf="publication">
  <h1>{{ publication.title }}</h1>

  <h4>{{ publication.subtitle }}</h4>

  <div [style.border]="'none'" class="preview-cover">
    <div [style.background-image]="'url(' + publication.cover + ')'"></div>
  </div>

  <div
    class="publication-content"
    [innerHTML]="publication.content | noSanitize"
  ></div>

  <div class="container-tags">
    <button
      *ngFor="let tag of publication.tags"
      mat-stroked-button
      color="primary"
      type="button"
    >
      {{ tag.name }}
    </button>
  </div>

  <div class="publication-footer">
    <div *ngIf="userId === publication.user.id">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/publicacoes/editar/{{ publication.id }}"
        >
          Editar
        </button>
  
        <button mat-menu-item (click)="onConfirm(publication.id)">Apagar</button>
      </mat-menu>
    </div>

    <div *ngIf="isAuthenticated; then authenticatedUser; else anonymousUser"></div>
    
    <ng-template #authenticatedUser>
      <button mat-icon-button (click)="onSaved()">
        <mat-icon>{{ isSaved ? "bookmark" : "bookmark_border" }}</mat-icon>
      </button>
    </ng-template>

    <ng-template #anonymousUser>
      <button mat-icon-button (click)="dialogsService.loginDialog()">
        <mat-icon>bookmark_border</mat-icon>
      </button>
    </ng-template>
  </div>

  <mat-divider></mat-divider>

  <div class="container-author">
    <div>
      <h2>Sobre o autor</h2>

      <h1>
        <a
          class="link-dark-hover"
          [routerLink]="utilsService.getProfileUrl(publication.user.id)"
        >
          {{ publication.user.username }}
        </a>
      </h1>

      <p>{{ publication.user.bio }}</p>
    </div>

    <div>
      <div
        [routerLink]="utilsService.getProfileUrl(publication.user.id)"
        class="photo-author"
        [style.background-image]="
          utilsService.getPhotoUrl(publication.user.photo)
        "
      ></div>
    </div>
  </div>
</div>

<div class="container-more" *ngIf="morePublications">
  <h2>Mais Publicações</h2>

  <mat-divider></mat-divider>

  <div>
    <app-card-publication
      *ngFor="let publication of morePublications"
      [publication]="publication"
    ></app-card-publication>
  </div>
</div>
