<div *ngIf="publications.length == 0; then isEmpty; else notIsEmpty"></div>

<ng-template #isEmpty>
  <div class="no-data"></div>
  <p>Nada aqui até o momento</p>
</ng-template>

<ng-template #notIsEmpty>
  <div>
    <app-card-publication
      *ngFor="let publication of publications"
      [publication]="publication"
      [callbackDelete]="deletePublication"
      [authUserId]="authUserId"
      [mode]="mode"
    ></app-card-publication>
  </div>
  
  <app-paginator
    [callbackFunction]="setPublications"
    [pagination]="pagination"
  ></app-paginator>
</ng-template>
