@import "../../../styles.scss";

mat-card {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

mat-card-content {
  padding-bottom: 16px;
}

mat-card-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $gray;
}

.more-options {
  position: absolute;
  right: 0;
  top: 0;
}